{% extends 'libraryItemBook.html.twig' %}
{# The main thing this is currently used for is to separate it from its parent #}
{# so that it'll show up in the Library. #}

{% block content %}
  <h1>{{ page.title|raw }}</h1>
  {% if page.header.subtitle %}
    <h3><div class="subtitle">{{ page.header.subtitle }}</div></h3>
  {% endif %}

  {{ parent() }}
{% endblock %}
