.pagination {
	list-style: none;
	padding: 0;
	margin: 1rem 1rem;
	text-align: center;
	color: #aaa;
}

.pagination li {
	display: inline-block;
	border: 1px solid #999;
}

.pagination a, .pagination span {
	display: inline-block;
	padding: 4px 15px;
}
